body {
    background: rgb(250,250,250);
}
* {
    font-family: 'Roboto';
}
.main-search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.main-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Roboto'), url(/fonts/roboto-regular.woff2) format('woff2');
}

